@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalemate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

*, ::before, ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 10px;
}
$color1: #E2C1DC;
$color2: rgb(231, 209, 255);
$color3: #FEF5F0;
$transparent: rgba(231, 209, 255, 0.8);

.App {
	width: 100vw;
	min-height: 100vh;
	background-color: $color3;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.background {
	position: fixed;
	inset: 0;
	min-width: 100%;
	height: 100vh;
	z-index: 0;

	img {
		object-fit: cover;
		width: 100%;
		min-height: 100%;
	}
}
.navMenu 

#svg3354 {
    cursor: pointer;
    shape-rendering: crispEdges;
    
  background:linear-gradient(to right,red,green,blue) left/200% 100%;
   -webkit-mask:url("../assets/badge2.svg") center/contain;
          mask:url("../assets/badge2.svg") center/contain;
  
}